<ibm-header name="[Platform]" [brand]="brandTemplate">
				<ibm-hamburger *ngIf="hasHamburger" (click)="expanded($event)"></ibm-hamburger>
				<ibm-header-navigation>
					<ibm-header-item>Задания</ibm-header-item>
					<ibm-header-item>Документы</ibm-header-item>
					<ibm-header-item>Карта</ibm-header-item>
					<ibm-header-menu title="Дополнительно">
						<ibm-header-item>Link 1</ibm-header-item>
						<ibm-header-item>Link 2</ibm-header-item>
						<ibm-header-item>Link 3</ibm-header-item>
					</ibm-header-menu>
				</ibm-header-navigation>
				<ibm-header-global>
					<ibm-header-action title="action">
						<svg icon ibmIconFade size="20"></svg>
					</ibm-header-action>
					<ibm-header-action title="action">
						<svg icon ibmIconFade size="20"></svg>
					</ibm-header-action>
				</ibm-header-global>
			</ibm-header>

			<ng-template #brandTemplate>
				<a class="bx--header__name">
					<ibm-icon-carbon size="32" style="stroke:white;fill:white"></ibm-icon-carbon>
					<span class="bx--header__name--prefix">SPY</span>
					[ON]
          <span class="bx--header__name--prefix">EDGE</span>
				</a>
    </ng-template>
